<div class="jumbotron">
    <h1>HLSB Web API</h1>
    <p class="lead">Collection of HLSB web api methods for client applications</p>
    <p><a href="/Help" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

